<%- include('partials/head') %>
<div>
<div>
  <h1 id="title"><%= title %></h1>

  <div id="wrapper">
    <p>Ontdek de kunstwerken van het rijksmuseum eens op een andere manier dan je gewend bent.
        Geef hieronder een kleur aan en laat je verassen door de kunst!</p>  
     <form action="/search" method="POST" id="chooseColor">
      <div>
        <div>
            <input id="red" aria-label="rood" name="red" class="color-slider" type="range" min="0" max="255" value="0"/>
            <input id="green" aria-label="groen" name="green" class="color-slider" type="range" min="0" max="255" value="0"/>
            <input id="blue" aria-label="blauw" name="blue" class="color-slider" type="range" min="0" max="255" value="0"/>
        </div>
        <div>
          <div class="resultColor color-box"></div>
        </div>
      </div>
      <button type="submit" id="searchBtn" class="button">Search</button>
      </form>
    </div>
  </div>
</div>
</div>
 <script src="./js/colorSliders.min.js"></script>
 <%- include('partials/footer') %>
