<%- include('partials/head') %>
<div>
<div>
  <button id="backBtn" class="d-none"><i class="fas fa-arrow-left"></i></button>
  <h1 id="title"><%= title %></h1>

  <div id="wrapper">
    <p>Ontdek de kunstwerken van het rijksmuseum eens op een andere manier dan je gewend bent.
        Geef hieronder een kleur aan en laat je verassen door de kunst!</p>  
     <form action="/search" method="POST" id="chooseColor">
      <div>
        <div>
          <div>
            <input id="red" name="red" class="color-slider" type="range" min="0" max="255" value="0"/>
          </div>
          <div>
            <input id="green" name="green" class="color-slider" type="range" min="0" max="255" value="0"/>
          </div>
          <div>
            <input id="blue" name="blue" class="color-slider" type="range" min="0" max="255" value="0"/>
          </div>
        </div>
        <div>
          <div class="resultColor color-box"></div>
        </div>
      </div>
      <button type="submit" id="searchBtn" class="button">Search</button>
      </form>
    </div>
  </div>
</div>
</div>
 <!-- <script src="./js/color.js"></script>  -->
 <%- include('partials/footer') %>
