<%- include('partials/head') %>

<div>
  <button id="backBtn" class="d-none"><i class="fas fa-arrow-left"></i></button>
  <h1 id="title"><%= title %></h1>

  <div id="wrapper">
    <p>Ontdek de kunstwerken van het rijksmuseum eens op een andere manier dan je gewend bent.
        Geef hieronder een kleur aan en laat je verassen door de kunst!</p>
     <form action="/test/submit" method="POST" id="chooseColor">
      <div>
        <div>
          <div>
            <input id="red" class="color-slider" type="range" min="0" max="255" value="0"/>
          </div>
          <div>
            <input id="green" class="color-slider" type="range" min="0" max="255" value="0"/>
          </div>
          <div>
            <input id="blue" class="color-slider" type="range" min="0" max="255" value="0"/>
          </div>
        </div>
        <div>
          <div class="resultColor color-box"></div>
        </div>
      </div>
      
      <a id="searchBtn" class="button">Search</a>
    </div>
  </div>
</div>

</main>
 <script src="./js/color.js"></script> 
</body>
</html>
